body{font-family: 'Conv_Montserrat-Light';}
* ul{list-style:none;}
.logo img{margin-top:10px;}
.search_box{margin-top: 15px;}
.seach_top{width:35.8%; float:left; margin-right:10px;}
.btn-ts{padding:6px 25px !important; text-transform:uppercase;}
.attention{float:right; font-style: italic; margin-bottom:12px;}
.search{background:url(../images/serch_bg.jpg) repeat left center; padding: 6px;
  border: 1px solid #e8e8e8;   border-radius: 5px;}
.attention span{color:#be0909;}
.attention{position:relative;}
.attention::before {
    content:"";
	background:url(../images/attphoto.png) no-repeat left center;
	width:18px; height:18px; position: absolute;  left: -21px;
}
.menu{background-color:#f2f2f2; border-bottom:2px solid #00bbe2; border-top:1px solid #e5e5e5;}
.toronto{margin-bottom:15px;}
ul.nav li a{text-transform:uppercase; font-weight:bold;}
.nav_menu li:first-child{background:url(../images/li1bg.png) no-repeat left center;}
.nav_menu li:hover:first-child {background:url(../images/li1h.png) no-repeat left center;}
.nav_menu li:nth-child(2){background:url(../images/li2bg.png) no-repeat left center;}
.nav_menu li:hover:nth-child(2){background:url(../images/li2h.png) no-repeat left center;}
.nav_menu li:nth-child(3){background:url(../images/li3bg.png) no-repeat 9px center;}
.nav_menu li:hover:nth-child(3){background:url(../images/li3h.png) no-repeat 9px center;}
.nav li a{margin-left:14px;}

.navbar-right li:first-child{background:url(../images/regisbg.png) no-repeat left center;}
.navbar-right li:hover:first-child{background:url(../images/regish.png) no-repeat left center;}
.navbar-right li:nth-child(2){background:url(../images/loginbg.png) no-repeat left center;}
.navbar-right li:hover:nth-child(2){background:url(../images/loginh.png) no-repeat left center;}

/*-----Slider Form-----*/
.banner_form{position:absolute; top:25%; left:27%; display:inline-block; }
.banner_form h2{text-transform:uppercase; font-weight: bold;color: #fff; text-align:center;}
.find_ptg{background-color: rgba(0, 0, 0, 0.5); padding: 20px 0px;   border-radius: 4px; /**overflow: hidden;**/}
.find_ptg label{color:#fff; text-transform:uppercase; font-weight: bold;  font-size: 18px; }
.find_ptg select, .find_ptg input{width:68% !important; margin-left:5px;}
.col-sm-51 {width:41.5%;}
.sbg{background-image:url(../images/serch_icon.png);}
.fptg_submit{
  color: #fff;
  border: none;
  padding:6px 20px 8px 20px;
  border-radius: 5px;

background: rgb(113,113,113); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(113,113,113,1) 0%, rgba(79,79,79,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(113,113,113,1)), color-stop(100%,rgba(79,79,79,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(113,113,113,1) 0%,rgba(79,79,79,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(113,113,113,1) 0%,rgba(79,79,79,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(113,113,113,1) 0%,rgba(79,79,79,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(113,113,113,1) 0%,rgba(79,79,79,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#717171', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
}
.widdl{margin-left:-18px;}
.find_ptg div.form-group{width:42%; margin-right:6px;}
.midd_form{text-align:center;}
.labelf{margin-left:-21px;}
.toronto h2{text-transform:uppercase; margin-left:15px;}
.toronto h2 span{font-weight:bold;}
.imagebottom {margin-top:24px;}
.imageOuter{border: 5px solid #ebebeb;
  box-sizing: border-box; position:relative;}
.imageOuter img{width:100% !important;}
span.rollover {
	opacity: 1;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	background:url(../images/imgactive.png) center center no-repeat #e1ded7;
	cursor: pointer;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10;
	opacity: 0;
}

span.rollover:hover {
	opacity: 0.5;
	-o-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-webkit-transition: -webkit-transform 1s;
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
}

.imagebottom span{color:#4294a9; text-transform:uppercase; font-size:14px; font-weight:bold;}
.imagebottom ul{margin:0px; padding:0px; float: right;}
.spark_photo h2{font-weight:bold;}
.imagebottom > p > a{text-decoration:none; color:#4294a9; float:right;  font-weight: bold;}

ul.spark_rating li, .imagebottom ul li{float:left; margin-left:5px;}
ul li a span.glyphicon-star{color:#ffd42a;}
ul.spark_rating{margin:0px; padding:0px; overflow: hidden;}
ul.spark_rating li span{font-size:18px;}
ul.spark_rating li:last-child{margin-left:10px;}
.spark_buttons button{padding: 6px 6px 6px 2px;
	background: rgb(254,254,254); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}
.spark_buttons button span{background:url(../images/photo_tips/spark_icon.png) no-repeat; padding-left: 28px !important;  padding: 6px 0px;}
button.sam > span{background-position:0px -30px;}
button.vmw > span{background-position:0px -60px;}
button.atf > span{background-position:0px -87px;}
button.share > span{background-position:0px -120px;}
button.bookm > span{background-position:0px -150px;}
.wreview{margin: 21px 0px;  width: 100%;  text-align: right;}
.wreview_btn:focus, .wreview_btn:hover{background-color:#00bbe2; color:#fff;}
.wreview_btn, .wreview_btn:active{font-size:18px; font-weight:bold; color:#fff; text-transform:uppercase; background:url(../images/photo_tips/spark_icon1.png) no-repeat 29px -3px #00bbe2;
border:none;
  padding: 10px 27px 9px 74px;
-webkit-box-shadow: 0px 10px 0px 0px rgba(0,150,181,1);
-moz-box-shadow: 0px 10px 0px 0px rgba(0,150,181,1);
box-shadow: 0px 10px 0px 0px rgba(0,150,181,1);
}
.btn{outline:none !important;}

.share_bookmark{float:right;}
.spark_one{background:url(../images/spark_btbg.png) repeat-x left bottom; padding-bottom: 10px;}
.spark_pic1 img{border:5px solid #e5e5e5; border-radius:4px; width:100%;}
.spark_pic1_btn{margin-left:10px;}
.col-md-52{width:52.333333%;}
.col-md-47{width:47.33333%;}
.spark_two{padding-top:16px;}
.spark_pic1_btn ul{padding:0px 10px;}
.spark_pic1_btn ul li{line-height:25px;   font-weight: bold;}
.spark_pic1_btn ul li button{padding:4px 6px; text-transform:uppercase; font-weight: bold; font-size:12px; margin-right:5px; margin-top:5px;
background-color: #F0F0F0;
-webkit-box-shadow: 2px 2px 2px 0px rgba(204,204,204,1);
-moz-box-shadow: 2px 2px 2px 0px rgba(204,204,204,1);
box-shadow: 2px 2px 2px 0px rgba(204,204,204,1);}
.spark_media{border-bottom:1px solid #e5e5e5; padding-bottom: 50px;}
.spark_media ul{padding:0px; margin-top: 16px; clear:both;}
.spark_media ul li{float:left; margin-right: 12px;}
.spark_media ul li a{color:#007f9a;}
.certified_ph img{float:left; margin-right:27px;}
.certified_ph h3{font-weight:bold; color:#007f9a;}
.spark_two{background:url(../images/photo_tips/sparkt_bg1.png) no-repeat center bottom; padding-bottom: 30px;}
ul.tab li a{margin-left:3px; color:#333333; box-shadow: 0px -1px 4px #cccccc; background: #f0f0f0;}
ul.tab li.active a{color:#007f9a !important;}
.tablist h4{font-weight:bold; font-size:16px; color:#555555; margin-top: 25px;}
.tab_rating{overflow:hidden;}
.tab_rating span{color:#00bbe2; font-size:12px; font-weight:bold; float:left;}
.tab_spark_rating{overflow:hidden; padding: 0px 15px; float:left;}
.tab_spark_rating li > a > span{font-size:14px;}
.tab_spark_rating li{float:left; margin-left: 4px;}
.tab_rating p{text-transform:uppercase;}
.reviews_list{border-bottom:1px dashed #b2b2b2; padding-bottom: 18px;}
.review-pagetab{text-align:center;}
.pagination li a{color:#333333;  font-weight: bold; font-size: 12px;  text-transform: uppercase;}
.like_btn{background:#e5f2f5; line-height:40px;  font-style: italic; border-radius: 4px;
  padding-left: 20px;}
.sidebar_form{background:#007f9a; padding: 5px;  border-radius: 5px; display: inline-block;}
.sidebar_form form{background:#fff; border-radius: 2px; padding: 12px;}
.sidebar_form h2{font-size: 22px;  font-weight: bold;  color: #fff; font-size:18px; text-transform: uppercase; background:url(../images/photo_tips/spark_icon1.png) no-repeat 4px -54px; padding-left: 42px;}
.sidebar_form input.form-control, .sidebar_form select.form-control{height:28px; padding: 2px 12px;}
.sidebar_form form p{font-size:12px; text-align:center;}
.enq_form:hover, .enq_form:focus{background:#00bbe2; color:#fff;}
.enq_form, .enq_form:active{

border:none; background:#00bbe2;
font-weight:bold; color:#fff; text-transform:uppercase;
  font-size: 18px;
  width:100%;
-webkit-box-shadow: 0px 5px 0px 0px rgba(0,150,181,1);
-moz-box-shadow: 0px 15px 0px 0px rgba(0,150,181,1);
box-shadow: 0px 5px 0px 0px rgba(0,150,181,1);}
.like_btn a.btn{border:none; font-size:18px; color:#fff; padding: 2px 6px; margin-left:10px;}
a.like:hover, a.like:active, a.like:focus, a.like{background:#008000;  -webkit-transform: rotateY(180deg); /* Safari */
    transform: rotateY(180deg); /* Standard syntax */}
a.unlike:hover, a.unlike:active, a.unlike:focus, a.unlike{background:#aa0000; -webkit-transform: rotateY(180deg); /* Safari */
    transform: rotateY(180deg); /* Standard syntax */}
.com_res{font-style: italic; font-weight:bold; color:#555555;}





.midd_part{background:url(../images/linemidd.jpg) no-repeat center center;   margin: 0 auto; position:relative;
  height: 36px;}
.midd_part:after {
    position:absolute;
    display: block;
    width: 100%;

    border: 1px solid #999999;
    content: '';
	top:17px;
	z-index:-999;
}

.footer_list{position:relative;}
.fo_blog{position:absolute; top:26px; left:195px;}
.fo_blog li:first-child a{text-transform:inherit !important; color:#b6edf9 !important; font-weight:normal !important;}
.footer_list ul{margin:0px; padding:0px; list-style:none;}
.footer_list ul li a{text-decoration:none; color:#b6edf9; font-size:14px; line-height:27px;}
.footer_list ul li:first-child a{color:#fff; font-weight:bold; text-transform:uppercase; }
.footer{background:url(../images/footerbg.jpg) repeat left top; padding-top:30px;}
.footer_menu{margin-top:11px;}
.footer_menu ul, .footer_media ul{margin:0px; padding:0px; list-style:none;}
.footer_menu ul li{float:left; border-left: 1px solid #fff;   line-height: 10px;   padding: 0px 10px;}
.footer_menu ul li a{text-decoration:none; color:#fff;}
.footer_menu ul li:first-child{padding-left: 0px;  border: none;}
.footer_two{background:url(../images/footer_border.png) repeat-x left top; margin-top:15px;   line-height: 31px;   padding: 14px 0px 9px 0px;}
.footer_media{float:right; margin:0px;}
.footer_media li{float:left;}
.site_map{float:right; margin-top: 22px;}
.site_map li{float:left; border-left: 1px solid #b6edf9; line-height: 10px; padding: 0px 10px; }
.site_map li:first-child{padding-left: 0px;  border: none;}
.site_map li a{color:#b6edf9; text-decoration:none;}
.footer_bottom{background:url(../images/lastfooterbg.jpg) repeat-x left top #005a6d; color:#b6edf9; line-height:56px; border-top: 1px solid #197d98;}
.footer_logo{background:url(../images/footerlogo.png) no-repeat 16px center; padding-left:60px;}
.footer_media li{color:#fff; margin-left: 12px;}
.footer_media li a{color:#fff;}
/*-----photograph----*/
.photo_tips{color:#555555;}
.tips_logo_list{text-align:center;}
.tips_logo{   border-radius: 100%;
  border: 7px solid #eeeeee;
  width: 147px;
  height: 147px; display: table-cell;
  vertical-align: middle;}
.logo_outer{display:inline-block;}
.photo_tips h2{font-weight:bold; text-transform:uppercase;}
.tips_text h4{font-weight:bold;}
.wedding_spark{position:relative; overflow:hidden; border-bottom: 1px dashed #b2b2b2; margin-bottom:20px;}
.wedding_catalist > p > span{color:#799919; margin-left:5px; font-weight:bold;}
.wedding_spark > div.write_review{position:static; right:0px; z-index: 9999;}
.write_review button{float:right; text-transform:uppercase; padding-left: 37px; -webkit-box-shadow: 2px 2px 2px 0px rgba(204,204,204,1);
  -moz-box-shadow: 2px 2px 2px 0px rgba(204,204,204,1);
  box-shadow: 2px 2px 2px 0px rgba(204,204,204,1);
  font-weight:600;
  color:#333333;
  background:url(../images/photo_tips/spark_icon.png) no-repeat 7px bottom;}
 .wedding_search h4{font-weight:bold;}
.search_spark_reating{padding:0px;}
.search_spark_reating li{float:left; font-size: 16px; margin-right: 5px;}
.wedding_spic{width:28%;}
.wedding_spic img{border:5px solid #ebebeb; width:100%;}
.wedding_spark h3{font-weight:bold; margin-top:0px;}
.wedding_spark > p > span{color:#799919; font-weight:bold; margin-left: 8px;}
.categories{padding:0px;}
.categories li{line-height:20px;}
.categories li:first-child{font-weight:bold; padding-bottom:8px; }
.categories li:first-child span{color:#007f9a;}
.categories li:nth-child(2){font-weight:bold;}
.categories li:nth-child(3){font-size:12px;}
.con_view{background:#cce5eb none repeat scroll 0 0; border-radius:5px; margin-top:55px; padding:5px;   margin-bottom: 25px;}
.con_view ul{border-radius: 5px; background:#fff; padding: 10px; margin-bottom:0px; }
.con_view ul li{font-size:13px; padding: 10px 0px; border-bottom: 1px dotted #cccccc; overflow:hidden;}
.con_view h3{color:#007f9a; text-transform:uppercase; font-size:20px; margin-top:0px; padding-left:40px !important; padding: 6px 0px;}
.con_view h3 span{font-weight:bold; font-weight:20px;}
.con_view img{border-radius:5px; float:left; margin-right:10px;   width: 80px;}
.con_view h5{margin-top:0px; font-weight:bold;}
.tips{background:url(../images/photo_tips/searchpage_icon.png) no-repeat left -9px;}
.re_view{background:url(../images/photo_tips/searchpage_icon.png) no-repeat left -55px;}
.con_view li ul{padding: 0px;  margin-top: -16px;}
.con_view li ul li{border-bottom:0px; margin-right:1px;}
.review_num{margin-top:10px; float:right;}
.seach_tab{float:right;}
.tab_filter ul{padding:0px;}
.tab_filter ul li:first-child{font-weight:bold; font-size:16px; margin-bottom:10px;}
/*slider*/
.main_slider{border:5px solid #e5e5e5 !important; border-radius:5px;}
.main_slider li img, .thumb li img{border:1px solid #fff;}
.thumb li{margin:5px !important; border:2px solid #e5e5e5; border-radius:2px;}
.thumb li img{cursor:pointer;}
.thumb li.flex-active-slide {border:2px solid #007f9a !important;}
.main_slider a.flex-prev, .main_slider a.flex-next{display:none;}


/*==========11-05 css start here=============*/
#myCarousel .item img {
    height: 680px;
    width: 100%;
}
.business, .business h2{ margin-bottom:20px;}
.business h4{ font-size:20px; color:#007f9a; font-family: 'montserratbold'; line-height:25px; padding:0 0 16px;}
.business .benefit-lists{ padding:0; margin:0;}
.business .benefit-lists li{ font-size:15px; color:#007f9a; line-height:24px; padding:0 0 16px;}
.business .form-control{ background:#efefef;}
.business p.registered{ margin-top:10px; color:#555;}
.business p.registered a{ color:#555;}


/*slider*/
@media (max-width: 340px){
	.logo img{width:100%;}

	}
@media (max-width: 615px){
	.btn-ts{  padding: 6px 9px !important;}
	.search div.form-group{width:100%;}
	.btn-ts{width:100%;}
	.col-sm-51{width:85%;}
	}

@media (max-width: 767px) {
	.wedding_spic{width:60%; margin-top: 46px;}
	#myNavbar ul li{border-bottom:2px solid #48cbe7; margin-left: 20px;}
	.nav_menu li:nth-child(3){background:url(../images/li3bg.png) no-repeat left center;}
.nav_menu li:hover:nth-child(3){background:url(../images/li3h.png) no-repeat left center;}
.banner_form{position:inherit; width:90%}
.widdl{margin-left: 9px;}
.find_ptg select, .find_ptg input{width:96% !important;}
.find_ptg div.form-group{}
.banner_form h2{color:#000;}
.find_ptg label{font-size:16px; float:left;}
.labelf{margin-left:9px !important;}
.fptg_submit{width:65%; margin-top:10px;}
.find_ptg{padding-left:10px;}
.carousel-control{display:none;}
}
@media(max-width:992px){
	.wreview{text-align:left;}
	.share_bookmark{float:inherit;}
	.search_box{width:100%;}
	.footer_last div.col-sm-6{width:100%;}
	.site_map{float:left; margin-left:-35px;}
	.footer_media{float:left; padding:0px; margin-top:20px;}
	.footer_media li:first-child{margin:0px;}
	.banner_form{top:8%;}
	.banner_form h2{font-size:16px;}
	.toronto h2{font-size:18px;}
	.col-md-52{width:100%; margin-bottom:20px;}
	.col-md-47{width:100%;}
	}
@media(max-width:1247px){
	.find_ptg div.form-group{width:100%; margin-bottom:10px;}
	.labelf{margin-left:-9px;}
	.fptg_submit{width:68%;}
	.find_ptg select.form-control, .find_ptg input.form-control, .fptg_submit {float: right;
  margin-right: 20px;}
}
/*lavi*/
.txt-left{ text-align:left !important;}
.txt-right{ text-align:right;}
.show-hide{
    float: none;
    display: block;
}

.write_review .close1 {
    text-transform: uppercase;
    font-weight: 600;
    color: #333333;
    background: none;
    border:none;
    box-shadow:none;
    position: absolute;
    top: 5px;
    right: 10px;
}
.write_review .close2 {
    float: right;
    text-transform: uppercase;
    padding-left:10px;
    font-weight: 600;
    color: #333333;
    background: none;
    box-shadow:none;
}

.lh1{line-height:22px; margin-bottom:20px;}
.checkbox1{ position:absolute !important; top:9px; }


.btn-file {
    overflow: hidden;
    position: relative;
}
.btn-file input[type="file"] {
    background: none repeat scroll 0 0 red;
    cursor: inherit;
    display: block;
    font-size: 999px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.file-caption-disabled {
    background-color: #eee;
    cursor: not-allowed;
    opacity: 1;
}
.file-input .btn[disabled], .file-input .btn .disabled {
    cursor: not-allowed;
}
.file-preview {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
}
.file-preview-frame {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
    display: table;
    float: left;
    height: 160px;
    margin: 8px;
    padding: 6px;
    text-align: center;
}
.file-preview-frame:hover {
    background-color: #eee;
    box-shadow: 2px 2px 5px 0 #333;
}
.file-preview-image {
    height: 150px;
}
.file-preview-text {
    color: #428bca;
    display: table-cell;
    font-size: 11px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}
.file-preview-other {
    display: table-cell;
    font-family: Monaco,Consolas,monospace;
    font-size: 11px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}
.file-input-new .file-preview, .file-input-new .close, .file-input-new .glyphicon-file, .file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button {
    display: none;
}
.bc10{ background:#efefef;}
.bc11{ background:#f6f6f6;}
.c10{color:#007f9a; vertical-align: top;}
.bg10{background:#f2f2f2;}
.m1{ margin-right:5px;}
.m2{ margin-top:10px;}
.m3{ margin-top:13px;}
.m4{ margin:14px 0 70px 0;}
.m5{ margin:150px 0 60px 0;}
.m6{ margin:10px 0;}
.m7{ margin-bottom:20px;}
.btn-blue {
  background-color: #4769a5;
  color: #fff;
}
.btn-lblue{ background:#65ccef; color:#fff;}
.btn-red{ background:#cd252b; color:#fff;}
.btn-gray{ background:#888888; color:#fff;}
.bo-dashed{ border-bottom:1px dashed #b2b2b2; margin:20px 0;}
.icon-envelope:before {
  content: "\e086";
}
.banner-top{
	background: #000;
  color: #fff;
  position: absolute;
  z-index: 4444;
  bottom: 165px;
  padding: 48px 0px;
  opacity: .5;
  width: 97.5%;
  text-shadow: 1px 0px 0px #E0E0E0;
  -webkit-text-shadow: 1px 0px 0px #E0E0E0;
  -moz-text-shadow: 1px 0px 0px #E0E0E0;
  -o-text-shadow: 1px 0px 0px #E0E0E0;
  -ms-text-shadow: 1px 0px 0px #E0E0E0;
  }
.banner-top p{ color:#fff; font-weight:100; line-height:34px; margin-bottom:0;}
.banner-bottom{position: absolute;
  bottom: 166px;
  color: #fff;
  z-index: 8888;
  padding:0 17px;
    font-size: 28px;}
 .banner-top span{ font-size:13px; font-weight:100; color:#fff;}
 .m8{ margin:0 43px; line-height:0;}
 .richard h4{ color:#00bbe2; font-size:25px;}
 .richard h3{font-size: 24px; margin:0 !important;}
 .m9{ margin-top:70px;}
 .p1{ padding-left:0;}
 .po{position:relative;}
/**.db{ display: inline-block;}**/
#current_password, #new_password{ margin-bottom: 17px;}
.m10{display:inline-block; width:100%;}
.index-view{min-height: 100px;}


.index-view{min-height: 100px;}
.contact-right { padding:30px 0px 30px 0px; }
.contact-right ul { list-style:none; margin:0px 0px 50px 0px; }
.contact-right ul li { display:block; padding:0px 0px 20px 0px; }
.contact-right ul li strong { display:block; font-size:20px; font-weight:normal; padding:0px 0px 5px 0px; }
.contact-right ul li a { float:left; display:block; margin:0px 10px 0px 0px; }

.contact-us { padding:30px 0px 30px 0px; }
.contact-us h3 { display:block; font-size:34px; text-transform:uppercase; padding:0px 0px 15px 0px;  }

.form-contanct { display:block; padding:50px 0px 0px 0px; }
.form-contanct li { display:inline-block; width:100%; padding:0px 0px 10px 0px; clear:both;  }
.form-contanct li label { width:250px; float:left; font-size:16px; padding:4px 0px 0px 0px; }
.form-contanct li input[type="text"],.form-contanct li textarea { width:400px; float:left; padding:7px 10px; font-size:14px; background:#efefef;  border-radius:5px;-moz-border-radius:5px; -webkit-border-radius:5px; }

.form-contanct li input[type="button"] { float:left; padding:10px 30px; color:#fff; font-weight:700; text-transform:uppercase; background:#00bbe2; border:1px solid #d8d8d8; border-bottom:5px solid #0096b5; border-radius:7px;-moz-border-radius:7px; -webkit-border-radius:7px; transition:ease all .5s; -moz-transition:ease all .5s; -webkit-transition:ease all .5s;}
.form-contanct li input[type="button"]:hover { background:#0096b5; border-bottom:5px solid #00bbe2; }


.pg-dashboard-right  { padding:30px 0px 30px 0px; }
.pg-dashboard-right-in {
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    margin-bottom: 0px;
}
.pg-dashboard-right h3 {
    color: #007f9a;
    text-transform: uppercase;
    font-size: 18px; background:none !important;
    margin-top: 0px;
    padding-left: 0px !important;
    padding: 6px 0px;
}
.pg-dashboard-right h3 span { font-weight:bold; }
.pg-dashboard-right-in img { display:block; width:auto; }
.pg-dashboard-right input[type="button"] { display:block; width:100%; text-align:center; padding:10px 30px; color:#fff; font-weight:700; text-transform:uppercase; background:#00bbe2; border:1px solid #d8d8d8; border-bottom:5px solid #0096b5; border-radius:7px;-moz-border-radius:7px; -webkit-border-radius:7px; transition:ease all .5s; -moz-transition:ease all .5s; -webkit-transition:ease all .5s;}
.pg-dashboard-right input[type="button"]:hover { background:#0096b5; border-bottom:5px solid #00bbe2; }



.pg-dash { padding:30px 0px 30px 0px; }
.pg-dash hr { margin:10px 0px !important; }
.pg-dash h3 { display:block; font-size:34px; text-transform:uppercase; padding:0px 0px 15px 0px;  }

.pg-dash-in { padding:0px 0px 30px 0px; }
.pg-dash-in h5 { display:block; font-size:28px; text-transform:uppercase; padding:0px 0px 15px 0px; color:#00bbe2; }

.pg-dash-in h4 {  color:#00bbe2 !important; }
.pg-dash-in h4 a {  color:#00bbe2 !important; }
.pg-dash-in span {  color:#00bbe2 !important; }

.pg-dash-in .media-left { width:15%;  }
.pg-dash-in .media-left img { width:100%; height:inherit; }
.pg-dash-in .innnimage  img { width:100px; float:left; height:inherit;  }


.inner-menu { background:#00bbe2; padding:7px; display:block; margin:20px 0px; }
.inner-menu ul { list-style:none; }
.inner-menu ul li { display:block; float:left; border-right:2px solid #fff; padding: 0px 20px 0px 0px; margin:0px 20px 0px 0px; }
.inner-menu ul li a { padding:5px; display:block; color:#fff; font-size:16px; text-transform:uppercase; }
.twitter-typeahead{ display:inline !important;}
.twitter-typeahead .tt-hint{top:-6px; background: none !important;}
#cities1{ background:#fff !important;}

.seach_top .tt-dropdown-menu{ background:cadetblue; }
.tt-dataset-0{ color:#fff; padding:10px; font-weight:100; height:200px; width:190px;overflow-x:auto;}
.form-inline .tt-dropdown-menu{ background:cadetblue; width:160px; margin:11px 0 0 5px;}
.tt-dropdown-menu .tt-dataset-1{ color:#fff; padding:10px 2px; font-weight:100; height:200px; overflow-x:auto;}
.form-horizontal .tt-dropdown-menu{ background:cadetblue; width:300px; margin:0px 0 0 1px;}


/*lavi*/



/*for responsive*/
@media screen and (min-width:320px) and (max-width:767px){

    #myCarousel .item img {
        max-width: 100%;
        height: auto;
    }

    .find_ptg {
        display: inline-block;
        padding-left: 20px;
        width: 100%;
    }

    .footer_logo{ font-size:12px;}
    .site_map{ font-size:10px;}

    /** given by lavi on 10/June 2015 */
    .banner-top {
        background: #000 none repeat scroll 0 0;
        color: #fff;
        opacity: 0.5;
        padding: 22px 0;
        position: relative;
        text-shadow: 1px 0 0 #e0e0e0;
        top: -64px;
        width: 100%;
        z-index: 4444;
    }

    .banner-bottom {
        color: #fff;
        font-size: 8px;
        padding: 0 17px;
        position: relative;
        top: -99px;
        z-index: 8888;
    }

    .footer_menu {
        margin-top: 11px;
        /**width: 122%;**/
    }

    .footer_menu ul li {
        margin-bottom: 15px;
    }

}

